{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ article.updateAt ? article.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comments: </th>
                {% for comment in article.comments %}
                    <td>De: {{ comment.author.username }}</td>
                    <td>Le: {{ comment.createdAt ? comment.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ comment.content }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {{ render(controller('App\\Controller\\CommentController::new')) }}  {# add function new of CommentController #}

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'slug': article.slug}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
